* {
    margin: 0;
    padding: 0;
}

.title {
    background-color: aqua;
    color: aliceblue;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}